/* 商品详情 */
#shop{
    width: 100%;
    border-top: 1px solid #e8e8e8;
}
.shop_inner{
    width: 1180px;
    margin: 0 auto;
}
.shop_top{
    line-height: 50px;
}
.shop_inner span{
    color: #8c8c8c;
}
.shop_inner a:hover{
    color: #f77168;
}
.shop_left {
    width: 500px;
    border: 1px solid #e8e8e8;
    margin-right: 60px;
    float: left;
    position: relative;
}
.shop_left .zuo{
    position: absolute;
    left: 0;
    bottom: -100px;
    padding: 30px 5px;
    border: 1px solid #d9d9d9;
    font-size: 20px;
}
.shop_left .you{
    position: absolute;
    right: 0;
    bottom: -100px;
    font-size: 20px;
    border: 1px solid #d9d9d9;
    padding: 30px 5px;

}
.shop_left a img{
    width: 499px;
    height: 499px;
}
.shop_right{
    width: 555px;
    display: inline-block;
}
.shop_right h2{
    font-size: 28px;
    color: #262626;
    line-height: 51px;
    margin-top: -50px;
}
.shop_right .price{
    line-height: 45px;
    margin-top: 12px;
}
.shop_right .price p{
    display: inline-block;
    color: #f77168;
    font-size: 22px;
}
.shop_right .price span{
    width: 44px;
    height: 22px;
    background-color: #f77168;
    border: #ffffff solid 1px;
    line-height: 44px;
    color: #ffffff;
    font-size: 14px;
    padding: 5px 10px;
}
.shop_right .color{
    line-height: 92px;
    font-size: 16px;
    color: #262626;
}
.shop_right .color_s{
    height: 23px;
}
.shop_right .color_s span{
    width: 190px;
    height: 50px;
    border: 1px solid #8c8c8c;
    margin-right: 10px;
    text-align: center;
    padding: 10px 76px;
    color: #262626;
}
.shop_right .color_s span:hover{
    border: 1px solid #262626;
}
.shop_right .fw{
    line-height: 100px;
    font-size: 16px;
    color: #262626;
}
.shop_right .fw_s span{
    width: 190px;
    height: 50px;
    border: 1px solid #8c8c8c;
    margin-right: 10px;
    text-align: center;
    padding: 10px 46px;
    color: #262626;
}
.shop_right .fw_s span:hover{
    border: 1px solid #262626;
}
.shop_right .number{
    line-height: 100px;
    font-size: 16px;
    color:#262626
}
.shop_right .number_s span{
    width: 190px;
    height: 50px;
    border: 1px solid #d9d9d9;
    /* margin-right: 10px; */
    text-align: center;
    padding: 10px 15px;
}
.shop_right .number_s b{
    padding: 10px 25px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}
.shop_right .car{
    width: 190px;
    height: 40px;
    border: 1px solid #f77168;
    margin-right: 10px;
    text-align: center;
    margin-top: 30px;
    float: left;
    font-size: 22px;
    color: #f77168;
    padding-top: 10px;
}
.shop_right .car a{
    padding: 11px 40px;
    color: #ffffff;
    background-color: #f77168;
}
.shop_right .buy{
    width: 190px;
    height: 40px;
    border: 1px solid #f77168;
    margin-right: 10px;
    text-align: center;
    float: left;
    padding-top: 10px;
    margin-top: 30px;
    color: #ffffff;
    font-size: 22px;
    background-color: #f77168;
}
.main{
    width: 100%;
}
.main_inner{
    width: 1180px;
    margin: 0 auto;
}
.box{
    width: 1180px;
    height: 50px;
    margin-top: 80px;
}
.box ul li{
    float: left;
    font-size: 16px;
    min-width: 160px;
    text-align: center;
    border: solid 1px #d9d9d9;
    line-height: 50px;
    border-width: 1px 0px 1px 1px;
}
.box .line{
    width: 695px;
    height: 50px;
    line-height: 50px;
    border: solid 1px #d9d9d9;
}
.content li{
    display: none;
}
.content .show{
    display: block;
    margin-top: 20px;
    margin-left: 45px;
}
.content .show_right{
    margin-left: 0;
}
.box .nav li:hover{
    color: #f77168;
}
.nav span{
    color: #f77168;
}
.nav .current{
    border-top: #f77168 2px solid;
}
.shop_left .top li{
    display: none;
}
.shop_left .top .big{
    display: block;
}
.list{
    width: 460px;
    height: 50px;
    display: block;
    margin-left: 35px;
}
.list ul li{
    float: left;
    margin: 10px 3px;
}
.list ul li:hover{
    border: 1px solid #ea413c;
}
.list img{
    width: 78px;
    height: 86px;
    border: 1px solid #e8e8e8;
}


/* 右侧导航 */
#list{
    position: fixed;
    right: 0;
    top: 250px;
    width: 80px;
    z-index: 99;
    /* height: 250px; */
  }
.box{
    height: 80px; 
    border-bottom: 1px solid #e8e8e8;
    background-color: #ffffff;
    text-align: center;

}
.box p{
    text-align: center;
    font-size: 14px;
}
.box .ing {
    font-size: 43px;
}
.box .ing:hover{
    color: #fc4a4a;
}
.box .ing1 {
    font-size: 43px;
    color: #fc4a4a;
}
.back{
    position: fixed;
    right: 0;
    top: 510px;
    width: 80px;
    z-index: 99;
    height: 80px; 
    border-bottom: 1px solid #e8e8e8;
    background-color: #ffffff;
    text-align: center;
    display: none;
}
.back .ing2{
    font-size: 43px;
}
.back:hover{
    color: #fc4a4a;
}